.login-page-wrapp {
  height: 100%;
}

.login-form-wrap {
  width: 50%;
  justify-content: center;
}

.login-form-wrap .form-card {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.login-form-wrap .tabs {
  width: 100%;
  height: auto;
  max-width: 450px;
  padding: 0 15px;
}

.tabs__header {
  display: flex;
  justify-content: space-between;
}

.tabs__heading {
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
  flex: 1;
  padding: 10px;
  cursor: pointer;
  user-select: none;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: none;
  position: relative;
  bottom: -8px;
  transition: 0.3s all ease-in;
}

.datepicker-modal{
  height: auto;
}

.tabs__heading:hover {
  text-decoration: underline;
}

.reg-tabs.is-active{
  bottom: -9px;
}

.tabs__heading.is-active {
  z-index: 1;
}

.tabs__content {
  display: none;
}

.tabs__content.is-active {
  display: block;
}

.select-wrapper input.select-dropdown{
  color: var(--gray);
}